<% provide(:title, "Home | SpyGame") %>

<h1>Welcome to Spygame</h1>
<%= link_to "New Game", "/new" %><br><br>
<%= link_to "Join Game", "/join" %>

<p>Inspired by <%= link_to "Spyfall", "#" %>, created by Hammad Naseem</p>
<%= link_to "Github", "#" %>